
.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-giraffe:before { content: '\e81b'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */